<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acquista su Flatsome</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <div class="header-top">
            <div class="container flex-row">
                <div class="left">Add anything here or just remove it....</div>
                <div class="right flex-row">
                    <div class="menu">
                        <ul>
                            <li><a href="#" class="menu-top">About</a></li>
                            <li><a href="#" class="menu-top">Our Stores</a></li>
                            <li><a href="#" class="menu-top">Blog</a></li>
                            <li><a href="#" class="menu-top">Contact</a></li>
                            <li><a href="#" class="menu-top">Faq</a></li>
                            <li><a href="#" class="menu-top"><i class="fa-regular fa-envelope"></i> Newsletter</a></li>
                            <li><a href="#" class="menu-top">Languages <i class="fa-solid fa-angle-down"></i></a></li>
                            <li><a href="#" class="menu-top">Wishlist <i class="fa-solid fa-heart"></i></a></li>
                        </ul>
                    </div>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-regular fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container flex-row">
                <div class="logo">
                    <img src="img/logo.png" alt="flatsome logo">
                </div>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="#" class="menu-item">Demos</a></li>
                            <li><a href="#" class="menu-item">Features</a></li>
                            <li><a href="#" class="menu-item">Shop</a></li>
                            <li><a href="#" class="menu-item">Pages</a></li>
                            <li><a href="#" class="menu-item">Blog</a></li>
                            <li><a href="#" class="menu-item">Elements</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="shop">
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li class="divisore"></li>
                        <li><a href="#">Cart/$0,00
                            <span class="cart-icon">0</span>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="jumbotron">
        <div class="testo">
            <span class="testo-italic">It has Finally started…</span>
            <h1>HUGE SALE</h1>
            <h2>UP TO 70% OFF</h2>
            <div class="divider"></div>
            <div class="link">
                <a href="#" class="shop">shop-men</a>
                <a href="#" class="shop">shop-women</a>
                <a href="#" class="shop">shop-all</a>
            </div>
        </div>
    </div>

    <main>
        <div id="about" class="container flex-row">
            <div class="banner">
                <div class="banner-img1 bg">
                    <div class="overlay"></div>
                    <div class="banner-testo">Our Blog
                        <div class="divider"></div>
                    </div>                    
                </div>
            </div>
            <div class="banner">
                <div class="banner-img2 bg">
                    <div class="overlay"></div>
                    <div class="banner-testo">Our Blog
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
            <div class="banner">
                <div class="banner-img3 bg">
                    <div class="overlay"></div>
                    <div class="banner-testo">Our Blog
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="products">
            <div class="product-title">
                <div class="container">
                    <span class="title">weekly featured products</span>
                </div>
            </div>
            <div class="wishlist">
                <div class="container flex-row">
                    <div class="wishlist-box">
                        <div class="product-img">
                            <img src="img/osaka-1.jpeg" alt="osaka maglietta" class="display-block">
                            <img src="img/osaka2.jpeg" alt="osaka maglietta blu" class="display-none">
                            <div class="heart display-none">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="product-view display-none">
                                quick view
                            </div>
                        </div>
                        <div class="product-test"></div>
                    </div>
                    <div class="wishlist-box">
                        <div class="product-img">
                            <img src="img/osaka-1.jpeg" alt="osaka maglietta" class="display-block">
                            <img src="img/osaka2.jpeg" alt="osaka maglietta blu" class="display-none">
                        </div>
                        <div class="product-test"></div>
                    </div>
                    <div class="wishlist-box">
                        <div class="product-img">
                            <img src="img/osaka-1.jpeg" alt="osaka maglietta" class="display-block">
                            <img src="img/osaka2.jpeg" alt="osaka maglietta blu" class="display-none">
                        </div>
                        <div class="product-test"></div>
                    </div>
                    <div class="wishlist-box">
                        <div class="product-img">
                            <img src="img/osaka-1.jpeg" alt="osaka maglietta" class="display-block">
                            <img src="img/osaka2.jpeg" alt="osaka maglietta blu" class="display-none">
                        </div>
                        <div class="product-test"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-top"></div>
        <div class="footer-bottom"></div>
        <div class="cancel">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A necessitatibus aliquam eveniet doloribus corporis laborum iusto, assumenda voluptates deleniti eligendi fuga itaque quam alias maxime ad, dicta aliquid ipsum facere?
        Explicabo adipisci dolores est, autem dolorum asperiores. Error esse est deleniti aliquam, ipsum nulla minima quasi vero in, quaerat quas, eveniet perferendis non vitae maiores optio obcaecati numquam incidunt iure!
        Ipsam, itaque alias molestias consectetur quasi dolorem dignissimos fuga praesentium distinctio deserunt ab provident natus id fugiat eaque possimus facere nemo commodi culpa asperiores eos! Perferendis quos praesentium rem qui.
        Officiis exercitationem provident, qui consequuntur ipsum possimus repellat laudantium fugiat asperiores ipsa ratione, alias voluptates recusandae eos voluptas, velit cupiditate. Eius veritatis earum eos enim repellat voluptates. Porro, nihil natus.
        Sapiente corrupti explicabo quas, accusantium non nisi nihil itaque doloremque voluptas suscipit veritatis eos at perferendis asperiores quod autem unde illum reiciendis voluptatem sit! Necessitatibus vel perspiciatis debitis porro quasi.
        Consectetur omnis dolores neque, fugit quidem totam ipsam hic eius ducimus. Maiores quibusdam ut reprehenderit! Quam nam id libero minus consectetur ut voluptatum? Aliquid fugit ullam optio enim consectetur ad?
        Pariatur explicabo laboriosam architecto. Culpa, velit cumque enim nostrum reiciendis sapiente incidunt sequi iusto laboriosam. Quia similique minima, enim, in ipsa possimus ad cumque, repudiandae nemo fuga voluptatum. Illum, fugit!
        Ad accusamus placeat vitae esse ipsum porro atque architecto officiis. Aperiam repudiandae vitae, quam inventore, praesentium error odit dicta accusamus nihil autem eligendi voluptate! Aut, doloremque? Ut, officiis! Veritatis, distinctio.
        Earum distinctio odio repellat error in ab culpa quod aperiam dolorem amet nesciunt odit dicta incidunt, deleniti ipsum. Molestiae nulla culpa aperiam quos quidem animi, ea rem non ducimus adipisci!
        Distinctio, voluptas earum facilis aperiam dolor magnam necessitatibus maxime hic, iste culpa quo, deserunt suscipit itaque fugiat dolore inventore facere. Atque distinctio officia quod aut illum consequatur minus fuga quis?
        Accusantium tenetur sapiente temporibus, libero nostrum eaque vel ipsa culpa quod minus deserunt iste iusto qui! Quaerat, fugit expedita asperiores ad architecto magnam! Consequatur at ab eos nostrum, sequi in.
        Vel alias repudiandae vero accusantium iste doloremque nisi qui ipsum molestiae laborum maxime facilis dignissimos ad cum, pariatur aliquam asperiores sed culpa, veniam, tenetur optio? Architecto iste delectus facilis dicta.
        Officiis magnam in laboriosam ipsum magni, aliquid eum quos enim, cupiditate reiciendis fugit et aperiam iure dolorum, iste aut excepturi eligendi voluptates deleniti illum fugiat! Expedita alias sit perspiciatis voluptatem?
        Asperiores, neque delectus? Soluta mollitia quis iusto modi dicta illum nulla ipsum eos placeat quod error, non voluptatibus laudantium vero rem facilis, debitis nihil doloribus id. Quibusdam nulla inventore beatae.
        Illo reiciendis cumque inventore. Distinctio molestiae sint veritatis amet, itaque rem qui et quo sapiente aspernatur, ea culpa, dolorum nemo vitae quisquam reiciendis magni sunt molestias repellendus numquam quos saepe.
        Quas consectetur, temporibus cumque hic iusto eius impedit perspiciatis nesciunt magnam deleniti ullam eaque, odit harum deserunt! Ad consequuntur, odio alias quos aliquam, necessitatibus repellat eum consequatur illo ut error.
        Rerum exercitationem quis quas itaque architecto eaque autem asperiores qui? Tenetur expedita commodi distinctio, corporis odio aliquid maxime doloremque sunt a blanditiis iure fugit deleniti dolor amet recusandae perferendis rem.
        Eaque cupiditate, consectetur enim impedit qui quo. Eligendi omnis eos labore reprehenderit itaque commodi fugiat veritatis beatae ullam alias dolorum at consequuntur quibusdam sunt, inventore officiis magnam quasi sapiente error!
        Et doloremque dicta nisi consequatur suscipit natus sapiente quae nam necessitatibus cumque consequuntur dolorum, quos, iusto odio vel? Aspernatur provident alias asperiores nihil dolor quidem illum vero iusto cumque repellat.
        Repellendus nihil quod rem? Illo maxime, quos tempora exercitationem, quis deserunt odit, et labore aperiam veniam adipisci odio magni repellat nobis iusto sed consequatur ipsa! Aliquam blanditiis nulla sit laborum.</div>
    </footer>

</body>

</html>