<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acquista su Flatsome</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header>
        <div class="header-top">
            <div class="container flex-row">
                <div class="left">Add anything here or just remove it....</div>
                <div class="right flex-row">
                    <div class="menu">
                        <ul>
                            <li><a href="#" class="menu-top">About</a></li>
                            <li><a href="#" class="menu-top">Our Stores</a></li>
                            <li><a href="#" class="menu-top">Blog</a></li>
                            <li><a href="#" class="menu-top">Contact</a></li>
                            <li><a href="#" class="menu-top">Faq</a></li>
                            <li><a href="#" class="menu-top">Newsletter</a></li>
                            <li><a href="#" class="menu-top">Languages</a></li>
                            <li><a href="#" class="menu-top">Wishlist</a></li>
                        </ul>
                    </div>
                    <div class="icons">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        </a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container flex-row">
                <div class="logo">
                    <img src="img/logo.png" alt="flatsome logo">
                </div>
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li><a href="#" class="menu-item">Demos</a></li>
                            <li><a href="#" class="menu-item">Features</a></li>
                            <li><a href="#" class="menu-item">Shop</a></li>
                            <li><a href="#" class="menu-item">Pages</a></li>
                            <li><a href="#" class="menu-item">Blog</a></li>
                            <li><a href="#" class="menu-item">Elements</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="shop">
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="jumbotron">
        <div class="testo">
            <span class="testo-italic">It has Finally started…</span>
            <h1>HUGE SALE</h1>
            <h2>UP TO 70% OFF</h2>
            <div class="link">
                <a href="#" class="shop">shop-men</a>
                <a href="#" class="shop">shop-women</a>
                <a href="#" class="shop">shop-all</a>
            </div>
        </div>
    </div>

</body>

</html>